POSTGRES_DB=trafficlab
POSTGRES_USER=trafficlab
POSTGRES_PASSWORD=trafficlab

SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/trafficlab
SPRING_DATASOURCE_USERNAME=trafficlab
SPRING_DATASOURCE_PASSWORD=trafficlab
SPRING_DATA_REDIS_HOST=redis
SPRING_DATA_REDIS_PORT=6379

NEXT_PUBLIC_API_BASE_URL=http://localhost:8080

POSTGRES_PORT=5432
REDIS_PORT=6379
BACKEND_PORT=8080
FRONTEND_PORT=3000
